!!!
%html
  %head
    = display_meta_tags(page_meta_tags)
    %meta{:content => 'width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no', :name => 'viewport'}
    = stylesheet_link_tag    'package/application', media: 'all'
    %link{:href => "https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}/
    :javascript
      var app = app || {config: {}, modules: {coreApplicationBase: {}, application: {}}};

    = csrf_meta_tags
  %body
    .page-body
      .page
        = render 'partials/header'
        .content-wrapper
          .base-width.page-content.clearfix
            = yield
        = render 'partials/footer'
    = render 'partials/seo/yandex_counter'

    = javascript_include_tag 'package/application'
